<!DOCTYPE html>
<html>
<head>
	<title>Rock Paper Scissors</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<a href="/rps">Home</a>
	<%= yield %>
</body>
</html>