<!DOCTYPE html>
<html>
<head>
	<title>Rock Paper Scissors</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/layout-stylesheet.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>
		<h1 class="main-header">Rock Paper Scissors</h1>
	</header>

	<a href="/rps">Home</a>
	<%= yield %>

	<footer>
		
	</footer>
</body>
</html>