<form action="/rps/match" method="post">
	<button name="move" value="rock">Rock</button>
	<button name="move" value="paper">Paper</button>
	<button name="move" value="scissors">Scissors</button>
</form>