<% if @players %>
	<a href="/signout">Sign out</a>
	<h3>You are now logged in, <%=@user.username%></h3>
	<form action="/match" method="post">
	<label for="player-select">Challenge another user</label>
		<select id="player-select" name="id">
			<% @players.each do |p| %>
			<option value="<%="#{p.id}"%>"><%="#{p.username}"%></option>
			<% end %>
		</select>
		<input type="submit" text="submit">
	</form>

<% else %>
<a href="/signin">Sign in</a>
<a href="/signup">Sign up</a>
<p>You are currently not logged in</p>
<% end %>
